name: Deploy to VPS

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v0.1.8
        with:
          host: 72.61.37.45
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /root/app-php-docker
            git reset --hard
            git pull origin main
            docker-compose up -d --build
